body {
    font-family: Arial, sans-serif;
    margin: 40px;
    line-height: 1.6;
    background-color: gray;
}

h1 {
    color: darkred;
    text-align: left;
}

h2 {
    color: darkred;
    margin-top: 20px;
    clear: right;
}

h3 {
    color: darkred;
    margin-top: 15px;
}

p {
    color: black;
    margin-left: 20px;
}

img {
    width: 40%;
    height: auto;
    float: left;
    margin: 0 20px 20px 0;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    color: darkred;
    text-decoration: underline;
}

.section {
    margin-bottom: 20px;
}

ul {
    color: black;
    margin-left: 40px;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}

.important {
    font-weight: bold;
    margin-top: 20px;
    color: black;
}

div {
    clear: right;
}
